#browser-toolbar {
    display: flex;
    align-items: center;
    gap: 14px;  /* Increased gap for slightly more spacing between buttons */
    padding: 5px;
    background: #ffffff;
    border-bottom: 0.7px solid #ccc;
    position: relative;
}

#browser-toolbar button {
    padding: 3px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: -2px;
}

#browser-toolbar button:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

#browser-toolbar button img {
    width: 18px;
    height: 18px;
    transition: transform 0.2s ease;
}

#browser-toolbar button:hover img {
    transform: scale(1.1);
}

#address-bar-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: #ffffff;
    border-radius: 20px;
    height: 30px;
    position: relative;
}

#address-bar-container #address-bar-button {
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 11px;
}

#address-bar-container #address-bar-button img {
    width: 100%;
    height: 100%;
}

#address-bar-container #address-bar {
    flex-grow: 1;
    padding: 6px;
    font-size: 11.7px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background: white;
    outline: none;
    height: 30px;
    padding-left: 33px;  /* Space for the button */
    padding-right: 16px;  /* Added extra padding to extend the address bar on the right */
    transition: border 0.3s ease;
    margin-top: -0.7px;
}

#address-bar-container #address-bar:focus {
    border: 2px solid #0078d4;
}

#address-bar-container #address-bar::placeholder {
    color: #888;
}

#menuoptions-button {
    margin-left: 8px;
    width: 28px;
    height: 28px;
    background: transparent;
    border: none;
    cursor: pointer;
}

#menuoptions-button img {
    width: 14px;
    height: 14px;
    background-size: 25px;
    background-position: center;
}

#menuoptions-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

#menuoptions-button:hover img {
    transform: scale(1.1);
}
